@charset "UTF-8";
.image01 {
  background-image: url(../../image/coffee-background.jpg);
  height: 500px;
}
.image02 {
  background: url(../../image/coffee-background.jpg) no-repeat;
  height: 500px;
}
.image03 {
  background: url(../../image/coffee-background.jpg) no-repeat center / cover;
  height: 500px;
}
.image04 {
  background: url(../../image/coffee-background.jpg) no-repeat center / contain;
  height: 500px;
}
